<!DOCTYPE html>
<html {% block dirattr %}dir="ltr"{% endblock %}>
<head>
    {% block metatags %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="creinartz">
    {% endblock %}
    <title>rtl-scss-kit</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="css/base.ltr.css">
    {% endblock %}
</head>
<body>
<div class="page">
    <header class="header">
        <h1 class="slogan">rtl-scss-kit</h1>
    </header>
    <div class="main cf">
        <nav class="navigation">
            <h3>flip layout</h3>
            <ul>
                <li>
                    <a href="index.php?viewtype=ltr">left to right</a>
                </li>
                <li>
                    <a href="index.php?viewtype=rtl">right to left</a>
                </li>
            </ul>
        </nav>
        <div class="content">
            <article>
                Bavaria ipsum dolor sit amet Biagadn Mongdratzal i hab an mi ozapfa a geh wia da Buachbinda Wanninger unbandig des basd scho. Ognudelt
                Fingahaggln gwihss auszutzeln, schüds nei is ma Wuascht ma. I waar soweid Spuiratz Schbozal Wiesn ebba Diandldrahn schüds nei wea ko, dea ko
                Reiwadatschi. Biakriagal des is hoid aso da, hog di hi, hawadere midananda dahoam gar nia need a bissal wos gehd ollaweil oba kloan. Kimmt vui
                huift vui Biakriagal auf gehds beim Schichtl gwiss Zwedschgndadschi middn Graudwiggal Obazda Biaschlegl imma. Du dadst ma scho daugn mehra Marei
                a bravs wolln, muass heid Weibaleid sog i. Nia need sog i gscheckate des basd scho, guad. Gwiss i hob di narrisch gean ned woar heid am acht’n Tag
                schuf Gott des Bia eam Sepp Fingahaggln spernzaln hallelujah sog i, luja. Eam sauba Edlweiss Hemad Resi an muass großherzig Ewig und drei Dog, middn.
            </article>
        </div>
    </div>
    <footer class="footer">
        <em>by <a href="https://www.twitter.com/@pistenprinz">creinartz</a> - layout inspired by <a href="http://motherfuckingwebsite.com/">motherfuckingwebsite.com</a></em>
    </footer>
</div>
</body>